<div class="container">
  <div>
    <canvas #canvas width="500px" height="500px"></canvas>
    <form (submit)="draw($event)">
      <!-- <label>$<input type="text" name="query" [formControl] = "query"/></label> -->
      <textarea name="query" [formControl]="query" placeholder="Write..."></textarea>
      <div>
        <button type="submit">Рисовать</button>
        <button type="button" (click)="clear()">Удалить все фигуры</button>
      </div>
      <div *ngIf="show">
        <h3>Все фигуры</h3>
        <p *ngFor='let e of query_view'>{{e}}</p>
      </div>
    </form>
    <div *ngIf="wrong">
      <h3>Запросы с ошибками</h3>
      <p *ngFor="let e of wrong_query">{{e}}</p>
    </div>
  </div>
</div>